@import '../../scss/base-import';

.sign-up {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 95%;
    align-items: center;
    padding: 20px 30px 40px;
    background: lightgrey;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    @include media-breakpoint-up(md) {
      padding: 50px;
    }
  }

  &__back-button {
    align-self: start;
    margin-bottom: 20px;
    font-size: 12px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: none;
    }
  }

  &__header {
    align-self: start;
    margin-bottom: 15px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__name-inputs-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  &__first-name-input {
    margin-bottom: 10px;

    @include media-breakpoint-up(md) {
      margin: auto 5px 0 0;
    }
  }

  &__last-name-input {
    @include media-breakpoint-up(md) {
      margin-left: 5px;
    }
  }

  &__email-input,
  &__password-input,
  &__dob-input,
  &__gender-input {
    margin-bottom: 10px;
  }

  &__message-and-submit-container {
    display: flex;
  }

  &__error-message {
    color: red;
    font-size: 11px;
  }

  &__submit-button {
    margin-left: auto;
  }

  &__success-modal {
    width: 100%;
  }
}
