@import '../../../scss/base-import';

.forgot-password {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 95%;
    align-items: center;
    padding: 20px 30px 40px;
    background: lightgrey;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    @include media-breakpoint-up(md) {
      padding: 50px;
    }
  }

  &__back-button {
    align-self: start;
    margin-bottom: 10px;
    font-size: 12px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: none;
    }
  }

  &__logo {
    width: 300px;
    height: auto;
    margin-bottom: 30px;
  }

  &__header {
    align-self: start;
    margin-bottom: 15px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__email-input {
    margin-bottom: 10px;
  }

  &__submit-button {
    margin-left: auto;
  }
}
