@import '../../../scss/base-import';

.sign-in {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 95%;
    align-items: center;
    padding: 20px 30px 40px;
    background: lightgrey;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    @include media-breakpoint-up(md) {
      padding: 50px;
    }
  }

  &__logo {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__form {
    flex-direction: column;
    width: 100%;
  }

  &__input {
    margin-bottom: 10px;
  }

  &__message-and-ctas-container {
    display: flex;
  }

  &__links-container {
    font-size: 12px;
  }

  &__account-link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__delimiter {
    margin: 0 5px;
    color: darkgrey;
    font-weight: 700;

    @include media-breakpoint-up(md) {
      margin: 0 7px;
    }
  }

  &__sign-in-button {
    margin-left: auto;
  }
}
